<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            DvDeck
        {% endblock %}
    </title>

</head>
<header>
    <h1>DvDeck</h1>
    <ul>
        <li><a href="{{ path('home_index') }}">Acceuil</a></li>
        {% if(app.user) %}
            <li><a href="{{ path('security_logout') }}">Déconnection</a></li>
        {% else %}
            <li><a href="{{ path('security_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
</header>

<body>
{% block body %}
{% endblock %}
</body>

<footer>
    <p>© DvDeck 2023</p>
</footer>
</html>
